<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133469700974-13kl55nmkl12haf2668r06euf93b4gk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133469700974-13kl55nmkl12haf2668r06euf93b4gk3</string>
	<key>API_KEY</key>
	<string>AIzaSyCaYsgTDwg_NrbjL3bb8y6me4e9mIa7Izk</string>
	<key>GCM_SENDER_ID</key>
	<string>133469700974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dogan.UberTutorial</string>
	<key>PROJECT_ID</key>
	<string>ubertutorial-8262d</string>
	<key>STORAGE_BUCKET</key>
	<string>ubertutorial-8262d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133469700974:ios:d715e7e8917d798996777f</string>
</dict>
</plist>